.panel-container-chart {
      padding-left: 15px;
      font-weight: bold;
    }

.header-custom-chart {
    padding: 3px 6px;
}

.body-custom-chart {
    padding: 7px;
}

/* Button Series */
 .btn-serie {
     padding: 1px 6px;
     font-size: 10px;
     color: black;
 }
.btn-serie-sel {
    border-color: navajowhite;
    color: antiquewhite;
}



ul {
  list-style: none;
  margin:0;
  padding:0;
  text-align:center;
}
li {
  display: inline-table;
}
#chartjs-legend {
  width:100%;
  bottom:10%;
}
#chartjs-legend li {
  cursor:pointer;
  margin: 10px 4px;
}
#chartjs-legend li span {
  position:relative;
  padding: 6px 10px;
  border-radius:13px;
  color:white;
  z-index:2;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
.chart-legend ul {
    list-style: none;
    background: black;
    color: white;
}

.chart-legend li {
    display: inline-block;
}

.chart-legend  li span{
    float: left;
    color: red !important;
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    list-style-type: none !important;
}
*/