<!-- HEADER -->

<div class="panel panel-default">
    <div class="panel-heading">

        <div style="z-index: 10000;font-size: 13px;position: fixed;top: 8px;right: 0px;padding: 5px 5px;border-radius: 5px 0 0 5px;background-color: rgba(0,0,0,0.7);">
            <a style="color:#FFFFFF;font-size:100% !important" href="mailto:alberto.cano@catastro.minhap.es"><em class="glyphicon glyphicon-envelope"></em> Contacto</a>
        </div>

        <nav id="headerParallax" class="navbar-wrapper navbar-fixed-top" style="background-image: url(assets/images/background_top_2016.png);">
            <div class="container-fluid">
                <nav id="headerParallaxNavBar" class="navbar navbar-static-top">
                    <div class="container">
                        <div id="navbar" class="navbar-inverse navbar-collapse collapse" style="float: right; margin-right: 50px; padding-left: 45px; border-radius: 25px;">
                        </div>

                    </div>
                </nav>
            </div>
        </nav>


    </div>

    <section id="content">
        <div class="panel-body">

            <hr>
            <hr>
            <p></p>
            <div class="row">
                <div class="col-md-3">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-294173" href="#panel-element-290912">Análisis de Cuota</a>
                        </div>
                        <div class="panel-collapse">
                            <div class="panel-body">

                                
                            <label>Municipio:</label>
                            <select [(ngModel)]="selmuni" id="Municipios" class="form-control main">
                                <option value="45900">Toledo</option>
                                <!--<option *ngFor="let muni of municipios"
                                    [value]="muni.id">                    
                                        {{muni.name}}
                                </option>-->
                            </select>
                            <hr>
                                    
                            <sortable-group (change)="updateColumns($event)"></sortable-group>

                            <accordion [closeOthers]="uniqueAccordion">                                
                                <accordion-group *ngFor="let col of columnsGroup" [panelClass]="customClass">
                                    <div accordion-heading>{{ col.name }}
                                        
                                        <i class="pull-right float-xs-right glyphicon"
                                        [ngClass]="{'glyphicon-chevron-down': true }"></i>
                                        
                                    </div>
                                    <div class="fixed-panel">
                                        <ul class="list-group slot">
                                            <li *ngFor="let key of keys(col.values);" class="list-group-item widget">
                                                <div class="color-line"></div> 
                                                <div class="slot-content">
                                                    <button type="button" [id]="key" name="{{ col.id }}" class="btn-widget" (click)="onClick($event)">
                                                    {{ key }}</button>
                                                </div>                                                
                                            </li>
                                        </ul>
                                    </div>
                                </accordion-group>                                            
                            </accordion>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="row">

                            <!-- Resumen -->
                            <div class="col-md-3">
                                <div class="col-md-6">
                                    <div>
                                        <div>
                                            <i class="fa fa-home" style="font-size:2em"></i>
                                        </div>
                                        <div>
                                            <div class="number">
                                                <div class="counter" style="font-size:3em">
                                                    {{ cuboCuotaResumen.N_SUBPARC }}
                                                </div>
                                            </div>
                                            <div>SubParcelas</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div>
                                        <div>
                                            <i class="fa fa-group" style="font-size:2em"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <div class="counter" style="font-size:3em">
                                                    {{ cuboCuotaResumen.N_PROPIETARIOS }}
                                                </div>
                                            </div>
                                            <div class="desc">Propietarios</div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="dashboard-stat yellow-lemon" style="border-radius: 4px;">
                                    <div class="visual">
                                        <i class="fa fa-meh-o"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <div class="counter">
                                                {{ cuboCuotaResumen.SUM_HECT | number : '1.2-2' }}
                                            </div>
                                        </div>
                                        <div class="desc">Hectáreas</div>
                                    </div>

                                    <a class="more" href="">Ver más<i class="fa fa-share"></i></a>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="dashboard-stat green-jungle" style="border-radius: 4px;">
                                    <div class="visual">
                                        <i class="fa fa-smile-o"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <div class="counter">
                                                {{ cuboCuotaResumen.SUM_V_CATASTR | number : '1.2-2' }}
                                            </div>
                                        </div>
                                        <div class="desc">Valor Catastral</div>
                                    </div>

                                    <a class="more" href="">Ver más<i class="fa fa-share"></i></a>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="dashboard-stat red-thunderbird" style="border-radius: 4px;">
                                    <div class="visual">
                                        <i class="fa fa-frown-o"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <div class="counter">
                                                {{ cuboCuotaResumen.SUM_CUOTA | number : '1.2-3' }}
                                            </div>
                                        </div>
                                        <div class="desc">Cuota</div>
                                    </div>
                                    <a class="more" href="">ver más<i class="fa fa-share"></i></a>
                                </div>
                            </div>

                    </div>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-1">
                            <chart charType='horizontalBar'></chart>                            
                        </div>
                        <div class="col-md-3 sidebar">
                            <ul class="nav nav-sidebar quantity">
                                <li *ngFor="let type of colsQuantity; let i = index"
                                    (click)="changeTypeQuantity(type.id)">
                                    <a href="#">{{ type.name }}</a>
                                </li>                                
                            </ul>                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7">
                            <div style="display: block">
                                <chart charType='bar'></chart>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div style="display: block">
                                <chart charType='pie'></chart>
                            </div>                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <div style="display: block">
                                <chart charType='doughnut'></chart>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div style="display: block">
                                <chart charType='radar'></chart>
                            </div>                            
                        </div>
                    </div>

                    <div class="row">
                        <!-- Tabla -->
                        <div class="col-md-12">

                            <h4>Resultados:</h4>
                            <div class="card card-block">
                                <div class="table-responsive">
                                    <table class="table table-inverse">
                                        <thead>
                                            <th *ngFor='let col of columnsGroup'>{{ col.name }}</th>
                                            <th>Nº SubParcelas</th>
                                            <th>Nº Propietarios</th>
                                            <th>Hectáreas</th>
                                            <th>Valor Catastral</th>
                                            <th>Cuota</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor='let item of cuboCuotaFiltrado'>
                                                <td *ngFor='let col of columnsGroup'>{{ item[col.id] | truncate : 40 : '.' }}</td>
                                                <td>{{ item.N_SUBPARC }}</td>
                                                <td>{{ item.N_PROPIETARIOS }}</td>
                                                <td>{{ item.SUM_HECT }}</td>
                                                <td>{{ item.SUM_V_CATASTR }}</td>
                                                <td>{{ item.SUM_CUOTA }}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </section>



    <div class="panel-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <p>
                        <a href="#" class="logo">
                            <img class="img-responsive" src="assets/images/logo-dark.png">
                        </a>
                    </p>
                    <p>Dirección General del Catastro. Ministerio de Hacienda y Administraciones Públicas</p>
                    <p><a style="color:#B9B9B9;" href="mailto:alberto.cano@catastro.minhap.es"><em class="glyphicon glyphicon-envelope"></em> Contacto</a></p>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>

    </div>