<!-- HEADER -->

<div class="panel panel-default">
    <div class="panel-heading">

        <div style="z-index: 10000;font-size: 13px;position: fixed;top: 8px;right: 0px;padding: 5px 5px;border-radius: 5px 0 0 5px;background-color: rgba(0,0,0,0.7);">
            <a style="color:#FFFFFF;font-size:100% !important" href="mailto:alberto.cano@catastro.minhap.es"><em class="glyphicon glyphicon-envelope"></em> Contacto</a>
        </div>

        <nav id="headerParallax" class="navbar-wrapper navbar-fixed-top" style="background-image: url(assets/images/background_top_2016.png);">
            <div class="container-fluid">
                <nav id="headerParallaxNavBar" class="navbar navbar-static-top">
                    <div class="container">
                        <div id="navbar" class="navbar-inverse navbar-collapse collapse" style="float: right; margin-right: 50px; padding-left: 45px; border-radius: 25px;">
                        </div>

                    </div>
                </nav>
            </div>
        </nav>


    </div>

    <section id="content">
        <div class="panel-body">

            <hr>
            <hr>
            <p></p>
            <div class="row">
                <div class="col-md-3">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-294173" href="#panel-element-290912">Análisis de Cuota</a>
                        </div>
                        <div class="panel-collapse">
                            <div class="panel-body">

                                
                            <label>Municipio:</label>
                            <select [(ngModel)]="selmuni" id="Municipios" class="form-control main">
                                <option value="45900">Toledo</option>
                                <!--<option *ngFor="let muni of municipios"
                                    [value]="muni.id">                    
                                        {{muni.name}}
                                </option>-->
                            </select>
                            <hr>
                                    
                            <cat-sortable-group (change)="onUpdateColumns($event)"></cat-sortable-group>

                            <accordion [closeOthers]="uniqueAccordion">                                
                                <accordion-group *ngFor="let col of columnsGroup" [panelClass]="'customClass'">
                                    <div accordion-heading>{{ col.name }}
                                        
                                        <i class="pull-right float-xs-right glyphicon"
                                        [ngClass]="{'glyphicon-chevron-down': true }"></i>
                                        
                                    </div>
                                    <div class="fixed-panel">
                                        <ul class="list-group slot">
                                            <li *ngFor="let key of keys(col.values);" class="list-group-item widget">
                                                <div class="color-line"></div> 
                                                <div class="slot-content">
                                                    <button type="button" [id]="key" name="{{ col.id }}" class="btn-widget" (click)="onClick($event)">
                                                    {{ key }}</button>
                                                </div>                                                
                                            </li>
                                        </ul>
                                    </div>
                                </accordion-group>                                            
                            </accordion>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <!-- Resumen del Municipio -->                   
                    <div class="row">
                            
                            <div class="col-md-1">
                                <cat-counter description="SubParcelas" fontIcon="fa fa-home" 
                                [value]="resumenMunicipio.N_SUBPARC"></cat-counter>
                            </div>

                            <div class="col-md-1">
                                <cat-counter description="Propietarios" fontIcon="fa fa-group" 
                                [value]="resumenMunicipio.N_PROPIETARIOS"></cat-counter>
                            </div>

                            <div class="col-md-1">
                                <cat-counter description="Gravamen" fontIcon="fa fa-calculator" 
                                [value]="resumenMunicipio.TIPO_GRAVAMEN"></cat-counter>
                            </div>

                            <div class="col-md-3">
                                <cat-counter description="Hectáreas" format='1.2-2' fontIcon="fa fa-eur" 
                                [value]="resumenMunicipio.SUM_HECT"></cat-counter>                                
                            </div>

                            <div class="col-md-3">
                                <cat-counter description="Valor Catastral" format='1.2-2' fontIcon="fa fa-eur"
                                [value]="resumenMunicipio.SUM_V_CATASTR"></cat-counter>                                
                            </div>

                            <div class="col-md-3">
                                <cat-counter description="Valor Cuota" format='1.2-2' fontIcon="fa fa-eur"
                                [value]="resumenMunicipio.SUM_CUOTA"></cat-counter>                                
                            </div>
                                                          
                    </div>

                    <div class="row">
                        <hr>
                    </div>

                    <!-- Resumen del Filtrado -->
                    <div class="row">                           
                            <div class="col-md-1">
                                <cat-counter description="SubParcelas" fontIcon="fa fa-home"
                                [value]="resumenFiltrado.N_SUBPARC"></cat-counter>
                            </div>

                            <div class="col-md-1">
                                <cat-counter description="Propietarios" fontIcon="fa fa-group"
                                [value]="resumenFiltrado.N_PROPIETARIOS"></cat-counter>
                            </div>

                            <div class="col-md-1">
                                <cat-counter description="Gravamen" fontIcon="fa fa-calculator"
                                [value]="tipoGravamen"></cat-counter>

                                <!-- Range del Gravamen -->
                                <div>
                                    <input type="range" #tgrv min="0" max="1" step="0.1" 
                                    [(ngModel)]="tipoGravamen" (change)="onChangeTipoGrav(tgrv.value)" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <cat-counter description="Hectáreas" format='1.2-2' fontIcon="fa fa-eur"
                                [value]="resumenFiltrado.SUM_HECT"></cat-counter>
                            </div>

                            <div class="col-md-3">
                                <cat-counter description="Valor Catastral" format='1.2-2' fontIcon="fa fa-eur"
                                [value]="resumenFiltrado.SUM_V_CATASTR"></cat-counter>
                            </div>

                            <div class="col-md-3">
                                <cat-counter description="Valor Cuota" format='1.2-2' fontIcon="fa fa-eur"
                                [value]="resumenFiltrado.SUM_CUOTA"></cat-counter>
                            </div>

                    </div>
                    

                    

                    <div class="row">
                        <div class="col-md-9">
                            <cat-chart id="chart1" charType='horizontalBar' [displaySeries]="['N_SUBPARC']" ></cat-chart>
                        </div>
                        <div class="col-md-3 sidebar">
                            <select id="s_chart1" #select multiple (change)="onChangeSeries($event.target)"
                                class="selectpicker show-menu-arrow form-control">
                                <option *ngFor="let item of optsChart1" [value]="item.id" selected="item.selected" >
                                    {{item.name}}
                                </option>
                            </select>                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7">
                            <select id="s_chart2" #select multiple (change)="onChangeSeries($event.target)"
                                    class="selectpicker show-menu-arrow form-control">
                                    <option *ngFor="let item of optsChart2" [value]="item.id" selected="item.selected" >
                                        {{item.name}}
                                    </option>
                                </select>
                            <div style="display: block">        
                                <cat-chart id="chart2" charType='bar' [displaySeries]="['SUM_HECT']"></cat-chart>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <select id="s_chart3" #select multiple (change)="onChangeSeries($event.target)"
                                    class="selectpicker show-menu-arrow form-control">
                                    <option *ngFor="let item of optsChart3" [value]="item.id" selected="item.selected" >
                                        {{item.name}}
                                    </option>
                                </select>
                            <div style="display: block">
                                <cat-chart id="chart3" charType='pie' [displaySeries]="['N_SUBPARC','N_PROPIETARIOS']"></cat-chart>
                            </div>                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7">                            
                            <div style="display: block">
                                <cat-chart charType='line' [displaySeries]="['N_SUBPARC']"></cat-chart>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div style="display: block">
                                <cat-chart id="chart4" charType='radar' [displaySeries]="['N_SUBPARC']"></cat-chart>
                            </div>                            
                        </div>
                    </div>

                    <div class="row">
                        <!-- Tabla -->
                        <div class="col-md-12">

                            <h4>Resultados:</h4>
                            <div class="card card-block">
                                <div class="table-responsive">
                                    <table class="table table-inverse">
                                        <thead>
                                            <th *ngFor='let col of columnsGroup'>{{ col.name }}</th>
                                            <th>Nº SubParcelas</th>
                                            <th>Nº Propietarios</th>
                                            <th>Hectáreas</th>
                                            <th>Valor Catastral</th>
                                            <th>Cuota</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor='let item of cuboCuotaFiltrado'>
                                                <td *ngFor='let col of columnsGroup'>{{ item[col.id] | truncate : 40 : '.' }}</td>
                                                <td>{{ item.N_SUBPARC }}</td>
                                                <td>{{ item.N_PROPIETARIOS }}</td>
                                                <td>{{ item.SUM_HECT }}</td>
                                                <td>{{ item.SUM_V_CATASTR }}</td>
                                                <td>{{ item.SUM_CUOTA }}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </section>



    <div class="panel-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <p>
                        <a href="#" class="logo">
                            <img class="img-responsive" src="assets/images/logo-dark.png">
                        </a>
                    </p>
                    <p>Dirección General del Catastro. Ministerio de Hacienda y Administraciones Públicas</p>
                    <p><a style="color:#B9B9B9;" href="mailto:alberto.cano@catastro.minhap.es"><em class="glyphicon glyphicon-envelope"></em> Contacto</a></p>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>

    </div>