.panel-footer {
    padding: 30px 15px;
    color:#999;
    font-size:12px;
    background-color: #292A2F;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.fixed-panel {
  min-height: 250px;
  max-height: 250px;
  overflow-y: scroll;
}

.btn-widget {
  margin: 0;
  padding: 0;
  border: none;
  background: 0 0;
  width: 100%;
  text-align: left;
}

.active-widget {
  color : #337ab7;
  font-weight: bold;
}

.list-group-item {
    background-color: #292A2F;
}

.list-group-item.widget {
    background-color: #1B1C1F;
    border: none;
}

/* Panel of Accordion */
.card.customClass,
.card.customClass .card-header,
.panel.customClass {
  background-color: #292A2F;
  color: #ddd;
  border: 1px solid #ddd;  
}
.panel.customClass .panel-body {
  padding: 0px;
}
.panel.customClass {
  margin-bottom: 20px;
}

/* Slot of Accordion*/
.slot{padding:5px 0px 0px;text-align:left;-webkit-transition:all 0.3s;transition:all 0.3s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.slot{padding:0;cursor:pointer}
.color-line{height:2px;position:absolute;display:block;width:100%;top:0;background:#9ecae1}
.slot-content{padding:0px;min-height:20px;-webkit-transform:translateY(0);transform:translateY(0);-webkit-transition:all 0.3s;transition:all 0.3s}
.slot-content:hover{-webkit-transform:translateY(3px);transform:translateY(3px)}

/* side nav */
.sidenav {
    height: 90%;
    width: 0px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    margin: 6px;
}

.sidenav a {
    /*padding: 8px 8px 8px 32px;
    text-decoration: none;*/
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    font-size: 26px;
    color: #111;
    position: absolute;
    top: 0px;
    right: 10px;
    /*margin-left: 50px;*/
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#gravamen {
    width: 40px;
    color: #333;
    font-weight: bold;
    /*-webkit-appearance: slider-vertical;
    width: 20px;
    height: 50px;*/
}


/** Charjs */
ul {
  list-style: none;
  margin:0;
  padding:0;
  text-align:center;
}
li {
  display: inline-table;
}
#chartjs-legend {
  width:100%;
  bottom:10%;
  font-size: 9px;
  margin-top: 6px;
}
#chartjs-legend li {
  cursor:pointer;
  margin: 2px 3px;
}
#chartjs-legend li span {
  position:relative;
  padding: 2px 5px;
  border-radius:6px;
  color:#333;
  z-index:2;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
