<!-- HEADER -->

<div class="panel-default page-default">
    <div class="panel-heading">

        <div style="z-index: 10000;font-size: 13px;position: fixed;top: 8px;right: 0px;padding: 5px 5px;border-radius: 5px 0 0 5px;background-color: rgba(0,0,0,0.7);">
            <a style="color:#FFFFFF;font-size:100% !important" href="mailto:alberto.cano@catastro.minhap.es"><em class="glyphicon glyphicon-envelope"></em> Contacto</a>
        </div>

        <nav id="headerParallax" class="navbar-wrapper navbar-fixed-top" style="background-image: url(assets/images/background_top_2016.png);">
            <div class="container-fluid">
                <nav id="headerParallaxNavBar" class="navbar navbar-static-top">
                    <div class="container">
                        <div id="navbar" class="navbar-inverse navbar-collapse collapse" style="float: right; margin-right: 50px; padding-left: 45px; border-radius: 25px;">
                        </div>

                    </div>
                </nav>
            </div>
        </nav>


    </div>

    
        <div class="panel-body">

            <hr>
            <hr>
            <p></p>

            <div class="row">
                <div class="col-md-3">
                    <span style="font-size: 13px;">Municipio:</span>
                    <select [(ngModel)]="selmuni" id="Municipios" class="form-control main colorHighligth">
                        <option value="45900">Toledo</option>
                        <!--<option *ngFor="let muni of municipios" [value]="muni.id">{{muni.name}}</option>-->
                    </select>
                </div>
                <div class="col-md-9">
                    <!-- Resumen del Municipio -->
                    <div class="row">

                        <div class="col-md-2">
                            <cat-counter description="SubParcelas" fontIcon="fa fa-home" [value]="resumenMunicipio.N_SUBPARC"></cat-counter>
                        </div>

                        <div class="col-md-2">
                            <cat-counter description="Propietarios" fontIcon="fa fa-group" [value]="resumenMunicipio.N_PROPIETARIOS"></cat-counter>
                        </div>

                        <div class="col-md-2">
                            <cat-counter description="Gravámen" fontIcon="fa fa-calculator" [value]="resumenMunicipio.TIPO_GRAVAMEN"></cat-counter>
                        </div>

                        <div class="col-md-2">
                            <cat-counter description="Hectáreas" format='1.0-0' fontIcon="fa fa-eur" [value]="resumenMunicipio.SUM_HECT"></cat-counter>
                        </div>

                        <div class="col-md-2">
                            <cat-counter description="Valor Catastral" format='1.0-0' fontIcon="fa fa-eur" [value]="resumenMunicipio.SUM_V_CATASTR"></cat-counter>
                        </div>

                        <div class="col-md-2">
                            <cat-counter description="Valor Cuota" format='1.0-0' fontIcon="fa fa-eur" [value]="resumenMunicipio.SUM_CUOTA"></cat-counter>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <simple-ngrx></simple-ngrx>                        
            </div>
            
        </div>
    



    <div class="panel-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <p>
                        <a href="#" class="logo">
                            <img class="img-responsive" src="assets/images/logo-dark.png">
                        </a>
                    </p>
                    <p>Dirección General del Catastro. Ministerio de Hacienda y Administraciones Públicas</p>
                    <p><a style="color:#B9B9B9;" href="mailto:alberto.cano@catastro.minhap.es"><em class="glyphicon glyphicon-envelope"></em> Contacto</a></p>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>
</div>