div.panel-heading {
   font-size: x-large; 
}

.panel-footer {
    padding: 30px 15px;
    color:#999;
    font-size:12px;
    background-color: #292A2F;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.fixed-panel {
  min-height: 250px;
  max-height: 250px;
  overflow-y: scroll;
}

.btn-widget {
  margin: 0;
  padding: 0;
  border: none;
  background: 0 0;
  width: 100%;
  text-align: left;
}

.active-widget {
  color : #337ab7;
  font-weight: bold;
}

.list-group-item {
    background-color: #292A2F;
}

.list-group-item.widget {
    background-color: #1B1C1F;
    border: none;
}


/* Switch Cttl
==========================*/
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 14px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #337ab7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #337ab7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* To Rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}
/* End Switch */