div.panel-heading {
   font-size: x-large; 
}

.panel-footer {
    padding: 30px 15px;
    color:#999;
    font-size:12px;
    background-color: #292A2F;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.fixed-panel {
  min-height: 250px;
  max-height: 250px;
  overflow-y: scroll;
}

.btn-widget {
  margin: 0;
  padding: 0;
  border: none;
  background: 0 0;
  width: 100%;
  text-align: left;
}

.active-widget {
  color : #337ab7;
  font-weight: bold;
}

.list-group-item {
    background-color: #292A2F;
}

.list-group-item.widget {
    background-color: #1B1C1F;
    border: none;
}

/* Panel of Accordion */
.card.customClass,
.card.customClass .card-header,
.panel.customClass {
  background-color: #292A2F;
  color: #ddd;
}
.panel.customClass .panel-body {
  padding: 0px;
}

/* Slot of Accordion*/
.slot{padding:5px 0px 0px;text-align:left;-webkit-transition:all 0.3s;transition:all 0.3s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.slot{padding:0;cursor:pointer}
.color-line{height:2px;position:absolute;display:block;width:100%;top:0;background:#e91e63}
.slot-content{padding:0px;min-height:20px;-webkit-transform:translateY(0);transform:translateY(0);-webkit-transition:all 0.3s;transition:all 0.3s}
.slot-content:hover{-webkit-transform:translateY(3px);transform:translateY(3px)}


