/* You can add global styles to this file, and also import other style files   #1B1C1F; */
body {
    margin: 0px;   
}

.body,
.form-control.main,
.panel-default,
.panel-primary {
    background:  #1B1C1F;   
}

.panel-default > .page-default {
    margin-bottom: 0px;
}

.panel-default > .panel-body {
     color: #999;
    font-size: 10px;
}

.colorHighligth,
.counter>.details>.number {
    color: #0AC9FF;
}

.table-inverse {
    color: gainsboro;    
}

.card {
    position: relative;
    display: block;
    border: 1px solid gainsboro;
    border-radius: .25rem;
}

.card-block {
    padding: .875rem;
}

/* dnd directive */
.dnd-drag-start {
    -moz-transform:scale(0.8);
    -webkit-transform:scale(0.8);
    transform:scale(0.8);
    opacity:0.7;
    border: 2px dashed #000;
}

.dnd-drag-enter {
    opacity:0.7;
    border: 2px dashed #000;
}

.dnd-drag-over {
    border: 2px dashed #000;
}

.dnd-sortable-drag {
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0.7;
  border: 1px dashed #000;
}

.fa-2 {
    font-size: 2em;
}
.btn-custom {
    font-size: small;
    padding: 0px;
}
.dropdown-custom >.dropdown-menu {
    padding: 2px 5px;
    font-size: small;
}