    <!--
    <div class="row">
        <div class="col-md-12">


            <h4>Resultados:</h4>
            <div class="card card-block">
                <div class="table-responsive">
                    <table class="table table-inverse">
                        <thead>
                            <th *ngFor='let col of columnsGroup'>{{ col.name }}</th>
                            <th>Nº SubParcelas</th>
                            <th>Nº Propietarios</th>
                            <th>Hectáreas</th>
                            <th>Valor Catastral</th>
                            <th>Cuota</th>
                        </thead>
                        <tbody>
                            <tr *ngFor='let item of cuboCuotaFiltrado'>
                                <td *ngFor='let col of columnsGroup'>{{ item[col.id] | truncate : 40 : '.' }}</td>
                                <td>{{ item.N_SUBPARC }}</td>
                                <td>{{ item.N_PROPIETARIOS }}</td>
                                <td>{{ item.SUM_HECT }}</td>
                                <td>{{ item.SUM_V_CATASTR }}</td>
                                <td>{{ item.SUM_CUOTA }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>


        </div>

    </div>
    -->