<!DOCTYPE html>
<canvas width="960" height="500"></canvas>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/topojson.v2.min.js"></script>
<script src="https://unpkg.com/d3-composite-projections@1.0.2"></script>
<script>

var context = d3.select("canvas").node().getContext("2d"),
  projection = d3.geoConicConformalSpain(),
  path = d3.geoPath(projection, context);

d3.json("https://martingonzalez.net/es-municipalities.v1.json", function(error, es) {
  if (error) throw error;

  context.beginPath();
  path(topojson.mesh(es));
  context.stroke();
  
  context.stroke(new Path2D(projection.getCompositionBorders()));
});

</script>